doctype html
html(lang='en')
	head
		//- meta
		meta(charset='utf-8')

		//- responsive
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no')
		meta(http-equiv='x-ua-compatible', content='ie=edge')

		//- site info
		title Dab Dab Revolution
		meta(name='description', content='')
		meta(name='author', content='')

		//- styles
		link(rel='stylesheet', href='assets/css/main.css')

	body
		header
			h2.title Dab Dab Revolution
			h4.company WiseTech Global

		//- .test-buttons
		//- 	span#btn-tl.btn.btn-outline-primary top left
		//- 	span#btn-tr.btn.btn-outline-primary top right
		//- 	span#btn-bl.btn.btn-outline-primary bottom left
		//- 	span#btn-br.btn.btn-outline-primary bottom right
		//- 	br
		//- 	br
		//- 	span#btn-tick.btn.btn-outline-success tick
		//- 	span#btn-cross.btn.btn-outline-danger cross
		//- 	br
		//- 	br
		//- 	span#btn-cl.btn.btn-outline-warning clear

		.arrows-container
			#tl.arrow
				svg(viewbox='0 0 48 48', enable-background='new 0 0 48 48', xml:space='preserve')
					polyline(fill='none', stroke='#000000', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', points='5.9999943,24.0000038 5.9999943,6.0000029 23.9999943,6.0000029')
					line(fill='none', stroke='#000000', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', x1='41.9999962', y1='42.0000076', x2='6.4999971', y2='6.5000057')

			#tr.arrow
				svg(viewbox='0 0 48 48', enable-background='new 0 0 48 48', xml:space='preserve')
					polyline(fill='none', stroke='#000000', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', points='24,6 42,6 42,24')
					line(fill='none', stroke='#000000', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', x1='5.9999971', y1='42', x2='41.4999962', y2='6.5')

			#bl.arrow
				svg(viewbox='0 0 48 48', enable-background='new 0 0 48 48', xml:space='preserve')
					polyline(fill='none', stroke='#000000', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', points='24,42 6,42 6,24')
					line(fill='none', stroke='#000000', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', x1='42', y1='5.9999971', x2='6.5', y2='41.4999962')

			#br.arrow
				svg(viewbox='0 0 48 48', enable-background='new 0 0 48 48', xml:space='preserve')
					polyline(fill='none', stroke='#000000', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', points='42,24 42,42 24,42')
					line(fill='none', stroke='#000000', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', x1='6', y1='6', x2='41.5', y2='41.5')

			#tick.arrow
				svg#Layer_1(viewbox='0 0 64 64', enable-background='new 0 0 64 64', xml:space='preserve')
					polyline(fill='none', stroke='#00E676', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', points='13,33 25,45 49,21')

			#cross.arrow
				svg#Layer_1(viewbox='0 0 64 64', enable-background='new 0 0 64 64', xml:space='preserve')
					line(fill='none', stroke='#FF1744', stroke-width='2', stroke-linecap='round', stroke-miterlimit='10', x1='18.947', y1='17.153', x2='45.045', y2='43.056')
					line(fill='none', stroke='#FF1744', stroke-width='2', stroke-linecap='round', stroke-miterlimit='10', x1='19.045', y1='43.153', x2='44.947', y2='17.056')

		//- scripts
		//- script(src='assets/js/pace.min.js')
		script(src='assets/js/jquery.min.js')
		script(src='assets/js/main.js')