doctype html
html(lang='en')
	head
		//- meta
		meta(charset='utf-8')

		//- responsive
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no')
		meta(http-equiv='x-ua-compatible', content='ie=edge')

		//- site specific info
		title Dab Dab Revolution
		meta(name='description', content='')
		meta(name='author', content='')

		//- styles
		link(rel='stylesheet', href='assets/css/normalize.min.css')
		link(rel='stylesheet', href='assets/css/bootstrap.min.css')
		link(rel='stylesheet', href='assets/css/main.css')

		//- other resources
		//- link(rel='shortcut icon', href='assets/images/favicon.png')

	body
		header
			h2.title Dab Dab Revolution
			h4.company a Dab-Tech Global product <br> in association with the Tommonwealth Dank

		//- .test-buttons
		//- 	span#btn-tl.btn.btn-outline-primary top left
		//- 	span#btn-tr.btn.btn-outline-primary top right
		//- 	span#btn-bl.btn.btn-outline-primary bottom left
		//- 	span#btn-br.btn.btn-outline-primary bottom right
		//- 	br
		//- 	br
		//- 	span#btn-tick.btn.btn-outline-success tick
		//- 	span#btn-cross.btn.btn-outline-danger cross
		//- 	br
		//- 	br
		//- 	span#btn-cl.btn.btn-outline-warning clear

		.arrows-container
			#tl.arrow
				svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 48 48', enable-background='new 0 0 48 48', xml:space='preserve')
					g#Layer_1
					g#node-v-rotate
					g#node-rotate
					g#arw-node-l
					g#arw-node-r
					g#node-right
					g#node-left
					g#arw-bottom
					g#arw-top
					g#arw-right
					g#arw-left
					g#sr-arw-half
					g#sl-arw-half
					g#s-arw-h-hide
					g#s-arw-v
					g#s-arw-h
					g#s-arw
					g#bend-right
					g#bend-left
					g#bend-up
					g#bend-down
					g#push-left
					g#push-right
					g#weight-dowm
					g#weight-up
					g#line-arw-rd
					g#line-arw-lt
						polyline(fill='none', stroke='#000000', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', points='    5.9999943,24.0000038 5.9999943,6.0000029 23.9999943,6.0000029 	')
						line(fill='none', stroke='#000000', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', x1='41.9999962', y1='42.0000076', x2='6.4999971', y2='6.5000057')
					g#line-arw-rt
					g#line-arw-ld
					g#clock-direction
					g#anti-direction
					g#up-arw
					g#dropdown
					g#left-move
					g#right-move
					g#right-move-2
					g#anti-clockwise
					g#clockwise
					g#download
					g#upload
					g#arw-rds-down
					g#arw-rds-top
					g#arw-rd-left-down
					g#arw-rd-right-down
					g#arw-rd-left-top
					g#arw-rd-right-top
					g#arw-rd-left
					g#arw-rd-right
					g#arw-rd-down
					g#arw-rd-top
					g#left-move-2

			#tr.arrow
				svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 48 48', enable-background='new 0 0 48 48', xml:space='preserve')
					g#Layer_1
					g#node-v-rotate
					g#node-rotate
					g#arw-node-l
					g#arw-node-r
					g#node-right
					g#node-left
					g#arw-bottom
					g#arw-top
					g#arw-right
					g#arw-left
					g#sr-arw-half
					g#sl-arw-half
					g#s-arw-h-hide
					g#s-arw-v
					g#s-arw-h
					g#s-arw
					g#bend-right
					g#bend-left
					g#bend-up
					g#bend-down
					g#push-left
					g#push-right
					g#weight-dowm
					g#weight-up
					g#line-arw-rd
					g#line-arw-lt
					g#line-arw-rt
						polyline(fill='none', stroke='#000000', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', points='\
						24,6 42,6 42,24 	')
						line(fill='none', stroke='#000000', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', x1='5.9999971', y1='42', x2='41.4999962', y2='6.5')
					g#line-arw-ld
					g#clock-direction
					g#anti-direction
					g#up-arw
					g#dropdown
					g#left-move
					g#right-move
					g#right-move-2
					g#anti-clockwise
					g#clockwise
					g#download
					g#upload
					g#arw-rds-down
					g#arw-rds-top
					g#arw-rd-left-down
					g#arw-rd-right-down
					g#arw-rd-left-top
					g#arw-rd-right-top
					g#arw-rd-left
					g#arw-rd-right
					g#arw-rd-down
					g#arw-rd-top
					g#left-move-2

			#bl.arrow
				svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 48 48', enable-background='new 0 0 48 48', xml:space='preserve')
					g#Layer_1
					g#node-v-rotate
					g#node-rotate
					g#arw-node-l
					g#arw-node-r
					g#node-right
					g#node-left
					g#arw-bottom
					g#arw-top
					g#arw-right
					g#arw-left
					g#sr-arw-half
					g#sl-arw-half
					g#s-arw-h-hide
					g#s-arw-v
					g#s-arw-h
					g#s-arw
					g#bend-right
					g#bend-left
					g#bend-up
					g#bend-down
					g#push-left
					g#push-right
					g#weight-dowm
					g#weight-up
					g#line-arw-rd
					g#line-arw-lt
					g#line-arw-rt
					g#line-arw-ld
						polyline(fill='none', stroke='#000000', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', points='\
					24,42 6,42 6,24 	')
						line(fill='none', stroke='#000000', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', x1='42', y1='5.9999971', x2='6.5', y2='41.4999962')
					g#clock-direction
					g#anti-direction
					g#up-arw
					g#dropdown
					g#left-move
					g#right-move
					g#right-move-2
					g#anti-clockwise
					g#clockwise
					g#download
					g#upload
					g#arw-rds-down
					g#arw-rds-top
					g#arw-rd-left-down
					g#arw-rd-right-down
					g#arw-rd-left-top
					g#arw-rd-right-top
					g#arw-rd-left
					g#arw-rd-right
					g#arw-rd-down
					g#arw-rd-top
					g#left-move-2

			#br.arrow
				svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 48 48', enable-background='new 0 0 48 48', xml:space='preserve')
					g#Layer_1
					g#node-v-rotate
					g#node-rotate
					g#arw-node-l
					g#arw-node-r
					g#node-right
					g#node-left
					g#arw-bottom
					g#arw-top
					g#arw-right
					g#arw-left
					g#sr-arw-half
					g#sl-arw-half
					g#s-arw-h-hide
					g#s-arw-v
					g#s-arw-h
					g#s-arw
					g#bend-right
					g#bend-left
					g#bend-up
					g#bend-down
					g#push-left
					g#push-right
					g#weight-dowm
					g#weight-up
					g#line-arw-rd
						polyline(fill='none', stroke='#000000', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', points='\
						42,24 42,42 24,42 	')
						line(fill='none', stroke='#000000', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', x1='6', y1='6', x2='41.5', y2='41.5')
					g#line-arw-lt
					g#line-arw-rt
					g#line-arw-ld
					g#clock-direction
					g#anti-direction
					g#up-arw
					g#dropdown
					g#left-move
					g#right-move
					g#right-move-2
					g#anti-clockwise
					g#clockwise
					g#download
					g#upload
					g#arw-rds-down
					g#arw-rds-top
					g#arw-rd-left-down
					g#arw-rd-right-down
					g#arw-rd-left-top
					g#arw-rd-right-top
					g#arw-rd-left
					g#arw-rd-right
					g#arw-rd-down
					g#arw-rd-top
					g#left-move-2

			#tick.arrow
				svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 64 64', enable-background='new 0 0 64 64', xml:space='preserve')
					g
						polyline(fill='none', stroke='#000000', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', points='13,33 25,45 \
						49,21 	')
					//- rect(x='1', y='1', fill='none', stroke='#000000', stroke-width='2', stroke-miterlimit='10', width='62', height='62')

			#cross.arrow
				svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 64 64', enable-background='new 0 0 64 64', xml:space='preserve')
					g
						line(fill='none', stroke='#000000', stroke-width='2', stroke-linecap='round', stroke-miterlimit='10', x1='18.947', y1='17.153', x2='45.045', y2='43.056')
					g
						line(fill='none', stroke='#000000', stroke-width='2', stroke-linecap='round', stroke-miterlimit='10', x1='19.045', y1='43.153', x2='44.947', y2='17.056')
					//- rect(x='1', y='1', fill='none', stroke='#000000', stroke-width='2', stroke-miterlimit='10', width='62', height='62')

		//- scripts
		//- script(src='assets/js/pace.min.js')
		script(src='assets/js/jquery.min.js')
		script(src='assets/js/tether.min.js')
		script(src='assets/js/bootstrap.min.js')
		script(src='assets/js/main.js')