doctype html
html(lang='en')
	head
		//- meta
		meta(charset='utf-8')

		//- responsive
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no')
		meta(http-equiv='x-ua-compatible', content='ie=edge')

		//- site specific info
		title Dab Dab Revolution
		meta(name='description', content='')
		meta(name='author', content='')

		//- styles
		link(rel='stylesheet', href='assets/css/normalize.min.css')
		link(rel='stylesheet', href='assets/css/bootstrap.min.css')
		link(rel='stylesheet', href='assets/css/main.css')

		//- other resources
		//- link(rel='shortcut icon', href='assets/images/favicon.png')

	body

		.arrows-container
			#tl
				span TL
			#tr
				span TR
			#bl
				span BL
			#br
				span BR

		//- scripts
		//- script(src='assets/js/pace.min.js')
		script(src='assets/js/jquery.min.js')
		script(src='assets/js/tether.min.js')
		script(src='assets/js/bootstrap.min.js')
		script(src='assets/js/main.js')