// config.styl
sm = "screen and (min-width: 544px)"
md = "screen and (min-width: 768px)"
lg = "screen and (min-width: 992px)"
xl = "screen and (min-width: 1200px)"

if $scrollbar-disable is defined
	if $scrollbar-disable
		::-webkit-scrollbar
			display none

if $selection-color is defined
	::selection
		background $selection-color

// padding helpers
p(p)
	padding p
px(p)
	padding-right p
	padding-left p
py(p)
	padding-top p
	padding-bottom p

.p
	&-0
		p(0)
	&-1
		p(1em)
	&-2
		p(2em)

	&x
		&-0
			px(0)
		&-1
			px(1em)
		&-2
			px(2em)

	&y
		&-0
			py(0)
		&-1
			py(1em)
		&-2
			py(2em)

// margin helpers
m(m)
	margin m
mx(m)
	margin-right m
	margin-left m
my(m)
	margin-tom m
	margin-bottom m

.m
	&-0
		m(0)
	&-1
		m(1em)
	&-2
		m(2em)

	&x
		&-0
			mx(0)
		&-1
			mx(1em)
		&-2
			mx(2em)

	&y
		&-0
			my(0)
		&-1
			my(1em)
		&-2
			my(2em)


nostylelink()
	outline none !important
	text-decoration none !important
	color inherit
	&:active, &:visited, &:link
		color inherit
		text-decoration none !important
		outline none !important
	&:hover
		text-decoration none !important
		outline none !important

a.nostylelink
	nostylelink()

noselect()
	-webkit-touch-callout none
	-webkit-user-select none
	-khtml-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none
	outline none !important
	&:active, &:visited, &:link, &:hover
		outline none !important

.noselect
	noselect()

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
	-webkit-appearance none
	margin 0

// base elements
::-webkit-scrollbar
	display none

input:-webkit-autofill
	-webkit-box-shadow 0 0 0 50px #fff inset !important
	-webkit-text-fill-color #000 !important
	&:focus
		-webkit-box-shadow 0 0 0 50px #fff inset !important
		-webkit-text-fill-color #000 !important

.btn
	outline none !important

vertcenter()
	position relative
	top 50%
	transform translateY(-50%)

.vertcenter
	vertcenter()

heighthundred-force()
	&:after
		content ' '
		display block
		clear both