@font-face
	font-family 'GT-Walsheim'
	font-weight 200
	font-style normal
	src url('../fonts/gtwalsheim/GT-Walsheim-Light.eot')
	src url('../fonts/gtwalsheim/GT-Walsheim-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/gtwalsheim/GT-Walsheim-Light.woff') format('woff'),
		url('../fonts/gtwalsheim/GT-Walsheim-Light.ttf') format('truetype')

@font-face
	font-family 'GT-Walsheim'
	font-weight 400
	font-style normal
	src url('../fonts/gtwalsheim/GT-Walsheim-Regular.eot')
	src url('../fonts/gtwalsheim/GT-Walsheim-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/gtwalsheim/GT-Walsheim-Regular.woff') format('woff'),
		url('../fonts/gtwalsheim/GT-Walsheim-Regular.ttf') format('truetype')

@font-face
	font-family 'GT-Walsheim'
	font-weight 500
	font-style normal
	src url('../fonts/gtwalsheim/GT-Walsheim-Medium.eot')
	src url('../fonts/gtwalsheim/GT-Walsheim-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/gtwalsheim/GT-Walsheim-Medium.woff') format('woff'),
		url('../fonts/gtwalsheim/GT-Walsheim-Medium.ttf') format('truetype')

@font-face
	font-family 'Circular'
	font-weight 200
	font-style normal
	src url('../fonts/circular/circular-light.woff') format('woff')
@font-face
	font-family 'Circular'
	font-weight 500
	font-style normal
	src url('../fonts/circular/circular-medium.woff') format('woff')