// CONFIG
$scrollbar-disable = true

// colors
$secondary-color = #000

$main-color = #f33

$selection-color = alpha(#bdbdbd, 0.6)

@import 'config'

// bootstrap4 @media definitions for easy responsiveness
sm = "screen and (min-width: 544px)"
md = "screen and (min-width: 768px)"
lg = "screen and (min-width: 992px)"
xl = "screen and (min-width: 1200px)"

body
	width 100%
	height 100vh
	min-height 600px
	font-family sans-serif
	font-weight 200

header
	& h2.title
		text-align center
		padding 1em 0 0 0
		font-size 3em
		font-weight 200
	& h4.company
		text-align center
		padding .4em 0 .4em 0
		font-size 1.2em
		font-weight 200

.test-buttons
	text-align center
	& span
		margin 0 1em

span#btn-cl
	transform translateY(60vh)

.arrows-container
	& #tl
		Z-index: -999
		visibility hidden
		opacity 0
		transition .6s opacity ease
		&.visible
			visibility visible
			opacity 1
			transition .6s opacity ease

	& #tr
		Z-index: -998
		visibility hidden
		opacity 0
		transition .6s opacity ease
		&.visible
			visibility visible
			opacity 1
			transition .6s opacity ease

	& #bl
		Z-index: -997
		visibility hidden
		opacity 0
		transition .6s opacity ease
		&.visible
			visibility visible
			opacity 1
			transition .6s opacity ease

	& #br
		Z-index: -996
		visibility hidden
		opacity 0
		transition .6s opacity ease
		&.visible
			visibility visible
			opacity 1
			transition .6s opacity ease

	& #tick
		Z-index: -995
		visibility hidden
		opacity 0
		transition .6s opacity ease
		&.visible
			visibility visible
			opacity 1
			transition .6s opacity ease
		& svg
			transform scale(1.8)

	& #cross
		Z-index: -994
		visibility hidden
		opacity 0
		transition .6s opacity ease
		&.visible
			visibility visible
			opacity 1
			transition .6s opacity ease
		& svg
			transform scale(2)


.arrow
	position absolute
	top 50%
	left 50%
	transform translate(-50%, -50%)
	z-index 1
	margin 0 auto !important
	& svg
		width 100%