::-webkit-scrollbar {
    display: none
}

::-moz-selection {
    background: rgba(189, 189, 189, 0.6)
}

::selection {
    background: rgba(189, 189, 189, 0.6)
}

.p-0 {
    padding: 0
}

.p-1 {
    padding: 1em
}

.p-2 {
    padding: 2em
}

.px-0 {
    padding-right: 0;
    padding-left: 0
}

.px-1 {
    padding-right: 1em;
    padding-left: 1em
}

.px-2 {
    padding-right: 2em;
    padding-left: 2em
}

.py-0 {
    padding-top: 0;
    padding-bottom: 0
}

.py-1 {
    padding-top: 1em;
    padding-bottom: 1em
}

.py-2 {
    padding-top: 2em;
    padding-bottom: 2em
}

.m-0 {
    margin: 0
}

.m-1 {
    margin: 1em
}

.m-2 {
    margin: 2em
}

.mx-0 {
    margin-right: 0;
    margin-left: 0
}

.mx-1 {
    margin-right: 1em;
    margin-left: 1em
}

.mx-2 {
    margin-right: 2em;
    margin-left: 2em
}

.my-0 {
    margin-tom: 0;
    margin-bottom: 0
}

.my-1 {
    margin-tom: 1em;
    margin-bottom: 1em
}

.my-2 {
    margin-tom: 2em;
    margin-bottom: 2em
}

a.nostylelink {
    outline: none!important;
    text-decoration: none!important;
    color: inherit
}

a.nostylelink:active,
a.nostylelink:visited,
a.nostylelink:link {
    color: inherit;
    text-decoration: none!important;
    outline: none!important
}

a.nostylelink:hover {
    text-decoration: none!important;
    outline: none!important
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none!important
}

.noselect:active,
.noselect:visited,
.noselect:link,
.noselect:hover {
    outline: none!important
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

::-webkit-scrollbar {
    display: none
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px #fff inset!important;
    -webkit-text-fill-color: #000!important
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px #fff inset!important;
    -webkit-text-fill-color: #000!important
}

.btn {
    outline: none!important
}

.vertcenter {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

@font-face {
    font-family: 'Circular';
    font-weight: 200;
    font-style: normal;
    src: url("../fonts/circular/circular-light.woff") format('woff')
}

@font-face {
    font-family: 'Circular';
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/circular/circular-medium.woff") format('woff')
}

body {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    font-family: 'Circular';
    font-weight: 200
}

header h2.title {
    text-align: center;
    padding: 1em 0 0 0;
    font-size: 3em;
    font-weight: 200
}

header h4.company {
    text-align: center;
    padding: .4em 0 .4em 0;
    font-size: 24px;
    font-weight: 200
}

.test-buttons {
    text-align: center
}

.test-buttons span {
    margin: 0 1em
}

span#btn-cl {
    -webkit-transform: translateY(60vh);
    transform: translateY(60vh)
}

.arrows-container #tl {
    Z-index: -999;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .6s opacity ease;
    transition: .6s opacity ease
}

.arrows-container #tl.visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: .6s opacity ease;
    transition: .6s opacity ease
}

.arrows-container #tr {
    Z-index: -998;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .6s opacity ease;
    transition: .6s opacity ease
}

.arrows-container #tr.visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: .6s opacity ease;
    transition: .6s opacity ease
}

.arrows-container #bl {
    Z-index: -997;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .6s opacity ease;
    transition: .6s opacity ease
}

.arrows-container #bl.visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: .6s opacity ease;
    transition: .6s opacity ease
}

.arrows-container #br {
    Z-index: -996;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .6s opacity ease;
    transition: .6s opacity ease
}

.arrows-container #br.visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: .6s opacity ease;
    transition: .6s opacity ease
}

.arrows-container #tick {
    Z-index: -995;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .6s opacity ease;
    transition: .6s opacity ease
}

.arrows-container #tick.visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: .6s opacity ease;
    transition: .6s opacity ease
}

.arrows-container #tick svg {
    stroke: #00ff00;
    -webkit-transform: scale(1.8);
    transform: scale(1.8)
}

.arrows-container #tick svg g line {
    stroke: #00ff00;
}

.arrows-container #cross {
    Z-index: -994;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .6s opacity ease;
    transition: .6s opacity ease
}

.arrows-container #cross.visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: .6s opacity ease;
    transition: .6s opacity ease
}

.arrows-container #cross svg {
    stroke: #ff0000;
    -webkit-transform: scale(2);
    transform: scale(2)
}

.arrows-container #cross svg g polyline {
    stroke: #ff0000;
}


.arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
    margin: 0 auto!important
}

.arrow svg {
    width: 100%
}